Repository dilneiss/gitflow-staging, pull requests merged in 2025-02, with the labels that each got.

#13 teste
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Migration

#15 teste3
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
  readme.md
Labels: Critic, Migration, Tests Passed

#16 teste1
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
  readme.md
Labels: Critic, Migration, QA validated, Tests Passed

#17 Solicitação de GMUD - 13/02/2025, 16:02:32
  .github/pull_request_template.md
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Critic, Migration, Breaking Changes, QA validated, Tests Passed

#18 Solicitação de GMUD - 13/02/2025, 16:08:46
  .github/workflows/check-approval.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#20 Solicitação de GMUD - 13/02/2025, 16:17:13
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed, Review Approved

#21 Solicitação de GMUD - 13/02/2025, 16:20:41
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed, Review Approved

#23 Solicitação de GMUD - 13/02/2025, 17:20:05
  branch_staging.html
Labels: Tests Failed

#24 Solicitação de GMUD - 13/02/2025, 17:32:34
  .github/workflows/check-copy-pr.yml
Labels: Tests Failed

#28 Solicitação de GMUD - 13/02/2025, 17:45:41
  .github/workflows/check-copy-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#30 Solicitação de GMUD - 13/02/2025, 17:54:05
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#31 Solicitação de GMUD - 13/02/2025, 17:57:43
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#33 Solicitação de GMUD - 13/02/2025, 18:00:34
  application/migrations/migration1.php
  readme.md
Labels: Migration, Tests Passed

#35 Solicitação de GMUD - 13/02/2025, 18:04:43
  .github/workflows/check-copy-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#37 Solicitação de GMUD - 13/02/2025, 18:09:52
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#54 Solicitação de GMUD - 17/02/2025, 13:39:30
  application/migrations/migration1.php
  index.html
Labels: Critic, Migration, QA validated, Tests Passed

#57 Solicitação de GMUD - 17/02/2025, 13:55:00
  .github/workflows/check-copy-pr.yml
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed, Tests Failed

#59 Solicitação de GMUD - 17/02/2025, 13:58:28
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#62 Solicitação de GMUD - 19/02/2025, 10:18:06
  application/migrations/migration1.php
Labels: Critic, Migration, Breaking Changes, QA validated, Tests Passed, Review Approved

#64 Solicitação de GMUD - 19/02/2025, 15:07:42
  .idea/gitflow-staging.iml
  .idea/phpspec.xml
  readme.md
  testes_feature_flag/.gitignore
  testes_feature_flag/cache/unleash_cache_dev/3/X/+W0e6EUcoox6efRWqwiA
  testes_feature_flag/cache/unleash_cache_dev/I/+/hxZaR7A66XoX5yFOIcbQ
  testes_feature_flag/cache/unleash_cache_dev/J/E/UKO1ufDzOoltDPYFthiw
  testes_feature_flag/cache/unleash_cache_dev/O/Y/nipnffCDoduj7NMy2Vkg
  testes_feature_flag/cache/unleash_cache_prod/3/X/+W0e6EUcoox6efRWqwiA
  testes_feature_flag/cache/unleash_cache_prod/I/+/hxZaR7A66XoX5yFOIcbQ
  testes_feature_flag/cache/unleash_cache_prod/J/E/UKO1ufDzOoltDPYFthiw
  testes_feature_flag/cache/unleash_cache_prod/O/Y/nipnffCDoduj7NMy2Vkg
  testes_feature_flag/unleash_local.php
  testes_feature_flag/unleash_local_ab.php
Labels: Critic, QA validated, Tests Failed

#73 Solicitação de GMUD - 19/02/2025, 16:15:12
  .github/workflows/check-pr.yml
  application/migrations/migration1.php
Labels: Critic, Migration, Breaking Changes, QA validated, Tests Passed

#77 Solicitação de GMUD - 19/02/2025, 16:33:57
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#82 Solicitação de GMUD - 19/02/2025, 16:41:42
  .github/workflows/check-pr-main.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#97 Solicitação de GMUD - 19/02/2025, 17:30:27
  .github/workflows/check-pr-main.yml
  .github/workflows/version-bump.yml
  application/migrations/migration1.php
Labels: Migration, Tests Passed

#101 Solicitação de GMUD - 21/02/2025, 17:59:28
  application/migrations/migration1.php
Labels: Critic, Migration, Breaking Changes, QA validated, Tests Passed

#103 Solicitação de GMUD - 21/02/2025, 18:29:52
  application/migrations/migration1.php
Labels: Migration, Breaking Changes, QA validated, Tests Passed, Review Approved

#111 Release/teste 123
  application/migrations/migration1.php
Labels: Migration, Tests Passed
